body {
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	color: #333;
}

header {
	background-color: #007bff;
	color: white;
	text-align: center;
	padding: 2%;
	font-size: 1.5rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main {
	max-width: 100%;
	margin: 2rem auto;
	padding: 2;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.task-form {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: space-between;
}

.task-form input,
.task-form select,
.task-form button {
	padding: 0.5rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.task-form button {
	background-color: #28a745;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

.task-form button:hover {
	background-color: #218838;
}

.task-list {
    margin: 3%;
	border: 1px solid #ddd;
	padding: 15px;
	background-color: #fafafa;
	border-radius: 10px;
}

.completed-tasks {
    margin: 3%;
    border: 1px solid #ddd;
	padding: 15px;
	background-color: #fafafa;
	border-radius: 10px;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease;
}

.task button {
	background-color: #dc3545;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.task button:hover {
	background-color: #c82333;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
	padding: 25px;
	border-radius: 10px;
	width: 350px;
	transition: all 0.3s ease;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.close-btn {
	float: right;
	font-size: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.close-btn:hover {
	color: #ff5c5c;
}

.modal-content input,
.modal-content textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	transition: all 0.3s ease;
}

.modal-content button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.modal-content button:hover {
	background-color: #0056b3;
}

.sidebar {
    background-color: #007bff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.nav-list {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin: 20%;
    text-align: center;
}

.nav-list li {
    margin: 25px 0;
}

.nav-list a {
    color: white;
	text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-list a:hover {
    color: #ffdd57;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    background-color: #007bff;
    width: 100%;
    transition: width 1s linear;
}

.progress-bar.done {
    position: relative;
    background-color: #aaa;
    display: none;
}
